
.navbar-brand
{
    position: relative;
    width: 50px;
    max-height: 70px;
}

main {
  min-height:  80vh;
}

.my-3.p-3.rounded.card a img {
  object-fit: cover;
  width: 100%;
  height: 300px;
}
.rating span
{
  margin: 0.1rem;
}

h3{
  padding: 1rem 0;
}
